.container-main {
    width: 100%;
    background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 118px;
    padding: 41px 100px 0px 100px;
}

.username {
    margin-right: 16px;
    color: white;
}

.container-profile {
    display: flex;
    align-items: center;
}

.profile-button,
.logout-button,
.filter-button {
    cursor: pointer;
}

.record-table {
    min-height: 100%;
    border-radius: 60px 60px 0px 0px;
    background-color: white;
}